.logo {
  font-family: Raleway, sans-serif;
  color: $title-text-color;
  line-height: 1.19;
  @include font(24px, 0.03em, 700);

  @media screen and (min-width: 1200px) {
    @include font(26px, 0.03em, 700);
  }

  &__part {
    color: $accent-color;
  }
  &__light-part {
    color: $wite-color;
  }
}
