.header {
  border-bottom: 1px solid #c4c4c4;

  &__open-btn {
    background-color: transparent;

    &:hover {
      fill: $accent-color;
    }
  }

  &__icon {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 1200px) {
      justify-content: start;
    }
  }

  &__block {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &__list {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-right: 50px;

    &:last-child {
      margin: 0;
    }
  }

  &__nav {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 93px;
    }

    & .link {
      padding-top: 16px;
      padding-bottom: 16px;

      @media screen and (min-width: 768px) {
        padding-top: 21px;
        padding-bottom: 21px;
      }

      @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
      }
    }
  }
}

.contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 0;

    & + & {
      margin-top: 10px;

      @media screen and (min-width: 1200px) {
        margin-top: 0;
        margin-left: $indent;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: $primary-text-color;
    letter-spacing: 0.02em;
  }
}

.envelope {
  margin-right: 10px;

  width: 16px;
  height: 12px;
  fill: $primary-text-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .link:hover &,
  .link:focus & {
    fill: $accent-color;
  }
}

.smartphone {
  margin-right: 10px;

  width: 10px;
  height: 16px;
  fill: $primary-text-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .link:hover &,
  .link:focus & {
    fill: $accent-color;
  }
}
