.description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }

  &__item {
    max-width: 450px;

    &:not(:last-child) {
      margin-bottom: $indent;
    }

    @media screen and (min-width: 768px) {
      width: 354px;
      flex-basis: calc(100% / 2-$indent);

      &:nth-child(2n) {
        margin-left: $indent;
      }
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
      margin-right: $indent;

      &:last-child {
        margin-right: 0;
      }

      &:nth-child(2n) {
        margin-left: 0;
      }

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  &__icon-area {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: $indent;

    height: 120px;
    border-radius: 4px;

    background-color: $button-color;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
