.container {
  max-width: 480px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;

  outline: 1px solid red;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
